[Unit]
Description=Fix rootlesskit capabilities after Docker update

[Service]
Type=oneshot
#ExecStart=/bin/bash -c 'setcap cap_net_bind_service=ep $(which rootlesskit) && systemctl --user restart docker'
ExecStart=/bin/bash -c 'setcap cap_net_bind_service=ep $(which rootlesskit) && runuser -l zachvp -c "systemctl --user restart docker"'
#ExecStart=/bin/bash -c 'touch /home/zachvp/developer/sandbox/service-path-test/file-service.bar'
User=root

[Install]
WantedBy=multi-user.target
